@use "../node_modules/@angular/material/" as mat;
@import "./tailwind.css";

:root {
    @include mat.button-overrides(
        (
            filled-container-shape: '6px',
            outlined-container-shape: '6px',
        )
    );

    @include mat.badge-overrides(
        (
            background-color: blue,
        )
    );
}

.match-input-height{
    height: 3.2em !important;
    margin-top: 0.4em;
}

.mdc-notched-outline__notch{
    border-right-style: none !important;
}